
	<meta charset="UTF-8">
	<style>
		*{margin: 0;padding:0;}
		div.navDiv{height: 50px;line-height: 50px;}
		div.navDiv a{padding: 15px 20px;color: #fff;text-decoration: none;}
		div.navDiv a:hover{background: green;}
	</style>

<div class="navDiv">
	<a target="mainframe" href="../index.html">主页</a>
	<a target="mainframe" href="../jsonp.html">jsonp</a>
	<a target="mainframe" href="../meta_android.html">安卓测试</a>
	<a target="mainframe" href="../viewport.html">viewport</a>
	<a target="mainframe" href="../cssClock2.html">css3时钟</a>
	<a target="mainframe" href="../jianrongTestInMoible.html">手机js兼容测试</a>
	<a target="mainframe" href="../boy/">blog</a>
	<a target="mainframe" href=""></a>
	<a target="mainframe" href=""></a>
	<a target="mainframe" href=""></a>
</div>
